* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 33, 33);
}
.card {
  height: 400px;
  width: 320px;
  border-radius: 15px;
  margin: 0 2rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  .content {
    height: 97%;
    width: 97%;
    border: 1px solid yellow;
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
    .inner-content {
      padding: 1rem 1.5rem;
      display: flex;
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
      .icons {
        display: flex;
        flex-direction: column;
        i {
          padding: 0.5rem 0;
        }
      }
    }
    h3 {
      font-size: 1.7rem;
    }
  }
  &:hover {
    .content {
      left: 50%;
    }
  }
}

.card-1 {
  background: url(./img/brad.jpg);
  background-position: center center;
  background-size: 320px;
  &:hover {
    background-position: left;
    background-size: 380px;
    box-sizing: 10px 10px 18px rgba(0, 0, 0, 0.2);
  }
}
.card-2 {
  background: url(./img/tomhardy.jpg);
  background-position: center center;
  background-size: 320px;
  &:hover {
    background-position: top;
    background-size: 420px;
  }
}
.card-3 {
  background: url(./img/sigmamale.jpg);
  background-position: center center;
  background-size: 380px;

  &:hover {
    background-position: top;
    background-size: 700px;
  }
}
